<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin News</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="admin-page">

<div class="admin-container">

    <h1>Создать новость</h1>

    <form method="post"
          enctype="multipart/form-data"
          th:action="@{/admin/news}"
          class="admin-form">

        <input type="text" name="title" placeholder="Заголовок" class="input"><br>

        <textarea name="shortDescription"
                  placeholder="Краткое описание"
                  class="textarea"></textarea><br>

        <textarea name="text"
                  placeholder="Текст новости"
                  class="textarea"></textarea><br>

        <!-- 📁 МНОГО ФАЙЛОВ -->
        <label>Файлы (картинки / документы):</label>
        <input type="file"
               name="files"
               multiple
               class="input-file"><br>

        <button type="submit" class="btn btn-primary">
            Создать
        </button>

    </form>

</div>

</body>
</html>